html {
  font-family: "Century Gothic";
  width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

header {
   
 position: relative;
    width: 100%;
    height: 100%;
    background-image: url(images/header.jpg); 
	no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.header-content {
 position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
  color:white;  
}

.what-is-everwell > h2 {
  color: #000000;
  text-align: center;
  padding: 0px;
}

.header-content-description > h1 {
  font: 3em Century Gothic;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 3px 3px #888888;
}

.header-content-description > h3 {
  font: 2em Century Gothic;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 3px 3px #888888;
}

.btn-find-out-more {
  box-shadow: 2px 2px #525266;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: white;
  height: 40px;
  width: 200px;
}

.navbar-custom {
  height: 60px;
  background-color: black;
  border-color: black;
  opacity: 0.5;
}

.navbar .nav > li > a{
  color: #fff;
  font-size: 23px;
  font-family: "Century Gothic";
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
}

.navbar .nav > li > a:hover {
  color: yellow;
}

.navbar .nav > ul {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
}

.jumbotron {
  background-color: #fff;
  margin-bottom: 0px;
}

.what-is-everwell > h3 {
  color: #4EAAB0;
  text-align: center;
}

.voluntary-insurance {
  margin-top: 30px;
  text-align: center;
}

.voluntary-insurance > li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;

}

#is-different {
  text-align: center;
}

.why-pasadena {
  background-color: #4EAAB0;
  padding: 20px 0px 50px 0px;
}

.why-pasadena > h2 {
  color: #fff;
  text-align: center;

}

.about-videos {
  max-width: 100%;
  width: 320px;
  height: 320px;
  border: 5px solid #F9CE4A;
  border-radius: 100%;
}

.old-town-video {
}

.office-video {
}


.blue-button-circle {
	width: 80px;
	height: 80px;
	margin: auto;
	top: 50px;
	right: 50px;
	bottom: 50px;
	left: 50px;
	background-color: #4EAAB0;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	z-index: 5;
}

#play-triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0px 20px 40px;
	position: absolute;
	z-index: 7;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
  	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid white;
	margin: auto;
}

.play-triangle:focus {
	outline: 0;
	border: 1px solid hsl(210, 58%, 69%);
	box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
}

/* ---- GALLERY AND EVENT SECTION ----*/

.gallery-and-events {
  background-color: #F9CE4A
}
.events-list {
  width: 100%;
  height: 291px;
  overflow: auto;
  margin-top: 0px;
}

.gallery{
	margin-top: 50px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.gallerycontainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .gallerycontainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .gallerycontainer {
    width: 970px;
  }
}
@media (min-width: 1230px) {
  .gallerycontainer {   
    width: 1200px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


@media (min-width: 992px) {
  .gallery-event-section {
    float: left;
  }  
  .gallery-event-section {
    width: 50%;
  }  
}

.gallery-events-section {
	width: 100%;
	height: auto;
	background-color: #F9CE4A;
	text-align: center;
	vertical-align: middle;
	/*padding: 25px;*/
	/*padding-top: 50px;*/
}

 .gallery-event-section {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery-and-events > h2 {
  text-align: center;
  padding: 0;
}

.event {
	width: 100%;
	margin-left: -20px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 90%;
	text-align: left;
	list-style-type: none;
	border-bottom: 2px solid black;
}

.gallery-events {
	width: 500px;
	height: 300px;
	border: 5px solid black;
	display: inline-block;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	margin: 20px 20px 100px 20px;
}

.gallery-events-section-list {
  display: block;
}



/* ---- CONTACT US SECTION ----*/

#Contact-text {
    margin-top: 20px;
    margin-bottom: 10px;
	font-size: 28px;
	text-align: center;
}

 #contact_bar {
	width: 100%;
	margin: auto;
	font-family: Century Gothic;
	}

#Submission_Box{
	width:110%;
	padding-top: 2%;
	font-size: 17px;
}

input, button{

	display: block;
	width:90%;
	padding:8px;
	font-family: Century Gothic;
}

button{
	padding:6px 12px 8px;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

textarea{
	width: 90%;
	font-family: Century Gothic;
	resize: none;
}
button:hover{
	background-color: #e0e0e0;
}

form, fieldset{margin:0px; padding:0; border:none;
}
button{
color:#FFFFFF;
background-color:#3e4047;
 height: 100%;
}



	@media (min-width: 300px) {

.col-md-2 {
	margin-top: -20px;
	margin-bottom: -110px;
}


  #HEY_HEY_LISTEN{

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
	font-size:18px;

}

  #Social_Media{

font-size:18px;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

}
	}


@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }

}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px) {
    .container {
    width: 750px;
}
}

@media (min-width:992px) {
    .container {
    width: 970px;
}
}

@media (min-width:1200px) {
    .container {
    width: 1170px;
}
}

.row {
    margin-right: -15px;
    margin-left: -15px;

}
.col-md-1, .col-md-2, .col-md-3, .col-sm-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.col-md-1 {
	margin-top: 150px;
}

.col-md-3 {
	margin-top: 130px;
}

@media (min-width:768px) {
    .col-sm-1 {
    float: left;
}
.col-sm-1 {
    width: 33.33333333%}
}

@media (min-width:992px) {
    .col-md-1, .col-md-2, .col-md-3 {
    float: middle;
}

.col-md-1 {
    width: 23%}
.col-md-3 {
    width: 23%}
.col-md-2 {
    width: 53.5%}
}

.google-map {
	display: absolute;
}

.contact-us {
  padding: 40px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }

footer {
  background-color: #000;
  color: #fff;
}


/* Meet the Teams CSS */

.modalbgcolor {
  background-color: #4eaab0;
}
.rectangle2{
  height:auto;
  width:80%;
  background:#000000;
  position:center;
  left:auto;
  top:auto;
  margin: auto;
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  z-index: 1;
}

.rectangle1{
  height: auto;
  width:80%;
  background:#4eaab0;
  border-radius: 15px;
  margin: auto;
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  /* text-align: justify;*/
}

.team{
  background-color:#000000;
  overflow: visable;
  padding: 0px;
  margin: 0px;
  padding-bottom: 3%;
}

.lenzo {
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  font-size: 220%;
  font-weight: bold;
  color: #ffffff;
  padding-left:43%; 
}

.regdir {
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  font-size: 180%;
  font-weight: normal;
  color: #ffffff;
  padding-left:44%;
}

.img-responsive {
  color: #fff;
  margin-top: -50%;
  margin-left:.auto;
  margin-right: 2%px;
  overflow: visible;
  float: left;

}
.description {
  width: 100%;
  /*-webkit-columns-count: 2;
  -moz-column-count: 2;
  column-count: 2; */
  -webkit-columns: auto 2;
  -moz-columns: auto 2;
  columns: auto 2;
  padding:3%;
  font-weight: 900;
  text-align: justify;
}

.contentborder{

  background-color: #4eaab0;
  border: 5px solid;
  border-radius: 10px;
  border-color: #fdcc0a;
}

.contenttext{
  background-color: #4eaab0;
  text-align: justify;
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  font-size: 100%;
  color: black;
}

.teamname {
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  color: black;
}

.teamleader {
  font-family: 'Bitter', 'Trebuchet MS', Cambria;
  font-size: 170%;
  font-weight: bold;
  text-align: center;
  color: black;
}

#content {
  text-align: center;
}

#content h1 {
  font-size: 250%;
  position: center;
  display: inline-block;
  height: 80px;
  line-height: 60px;
  margin-bottom: 0px;
  font-family: Century Gothic, 'Bitter', 'Trebuchet MS', Cambria;
  color: #FFFFFF;
}


.careers-section {
  background-color: #F9CE4A;
  margin-top: 0px;
  padding: 20px 0px 50px 0px;
  height: auto;
}

.careers-section > h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 0px;
}

.open-positions {
    text-align: center;
}

.open-positions > li {
  display: inline;
  /*padding: 50px 50px 100px 50px;*/
}

.open-positions > li > a {
  margin: 0px 33px 0px 33px;
}

.btn-open-positions {
  width: 420px;
  height: 120px;
  background: #fff;
  border: 0px;
}

.btn-open-positions:hover {
  background: #eeeeee;
}

.btn-open-positions:active {
  background: #eeeeee;
}

.btn-open-positions > h4 {
  color: #000;
}

.learn-more {
  color: #000;
  font-weight: bold;
  position: relative;
  bottom: 3px;
}
